.booking-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .booking-item h3 {
    margin: 0;
  }
  
  .booking-item p {
    margin: 0;
  }
  
  .booking-item button {
    margin-left: 5px;
  }
  