.checkout-page {
  padding: 30px;
}

h2 {
  text-align: center;
}

form {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    .checkout-info-container {
      display: flex;
      justify-content: space-around;
    }
  }
  @media screen and (min-width: 768px) {
    .info-container {
      margin: 10px;
      width: 40%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      border: 2px solid black;
    } 
  }
  
  input {
    margin: 0 0 5px 5px;
    width: 80%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  @media screen and (min-width: 768px) {
    input {
      width: 80%;
    }
  }
  
  /*input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
  }*/
  
  button {
    align-self: flex-start;
    border-radius: 15px;
  }
  
  @media screen and (min-width: 768px) {
    button {
      margin-left: 25px;
    }
  }